*{
 margin: 0;
 padding: 0;
}
.container{
 width: 1000;
 margin: 0 auto;
}
.herosection{
 background-color: black;
 text-align: center;
 color:white;
}
.menu{}
.menu ul{


}
.menu ul li{
display: inline-block;
position: relative;
}
.menu ul li a{
 color: beige;
 text-decoration: none;
 padding: 30px 26px;
 display: inline-block;
 font-size: 15px;
 text-transform: uppercase;

 

}
.menu ul li :hover{
 background-color: blue;
}


/* dropdown */
.menu ul li ul{
 background-color:black;
 width: 200px;
 position: absolute;
 top: 100%;
 left: 0;
 opacity: 0;
 visibility: hidden;
}
.menu ul li:hover ul{
 visibility: visible;
 opacity: 1;

}



.menu ul li ul li{
 display: inline-block;

}
.menu ul li:hover ul li a{
 border-bottom: 2px solid white;

}

.menu ul li ul li ul{
 top: 0;
 left: 100%;
}